/* Chung */
html{
    font-family: Arial, serif;
    color: black;
    scroll-behavior: smooth;
    /* Cắt phần tử bị tràng ra ngoài */
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
}

header{
    margin-bottom: 1rem;
}

ul li{
    list-style-type: none;
}

.flex_nowrap{
    display: flex;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Email ở footer */
a#mail{
    color: white;
}

/* Style cho mobile */
@media (max-width:500px) {
    html{
        font-size: 12px !important;
    }
    #popup-fail{
        display: none;
    }
    p{
        font-size: 1rem;
    }
    ul.navBar>li:active .subMenu{
        display: block;
        cursor: pointer;
    }

    /* #popup-fail::before{
        content: "Prefix";
    } */
}

/* Thanh chuyển giữa các trang */
ul.navBar{
    padding: 0;
    margin: 0;
    height: 4.5rem;
    width: 100%;
    background-color: #BAE8E8;
    border-radius: 1rem;
    list-style-type: none;
}

ul.navBar>li>a{
    padding: 1.5rem;
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
    align-items:center;
    display: block;
    text-decoration: none;
}


ul.navBar>li>a:hover{
    cursor: pointer;
    background-color: #8FC1C1;
    border-radius: 5%;
}

.navBar i{
    width: 1rem;
    margin-bottom: 0;
}

ul.navBar>li:first-child{
    margin-right: auto;
}

#name{
    font-size: 1.7rem;
}

#name:hover{
    background-color: transparent;
}

/* Menu con */
ul.navBar>li:hover .subMenu{
    display: block;
    cursor: pointer;
}

ul.subMenu{   
    display: none;
    position: absolute;
    width: 7rem;
    list-style-type: none;
    line-height: 1.5rem;
    right: 0;
    padding: 1rem;
    border-radius: 5%;
    box-shadow: 0 0 5px rgba(0,0,0, 0.4);
    background-color: white;
}

ul.subMenu li{
    line-height: 3rem;
}

/* Thanh tìm kiếm */
div.searchBar{
    width: 75%;
    background-color:#E3F6F5;
    border-radius: 1rem;
    margin: auto;
    padding: 0.5rem;
    box-sizing: border-box;
    justify-content: center;
}

.searchBar img{
    width: 2rem;
    padding-right: 0;
}

.searchBar select,input,button,img{
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    padding: 0.7rem;
    margin: 0.5rem;
}

.searchBar button{
    background-color: #FFD803;
    font-weight: bold;
    cursor: pointer;
}

.searchBar p{
    align-content: center;
    font-weight: bold;
    padding:  0.5rem ;
    margin-right: 0;
    display: inline;
}

/* Nút hoán đổi */
#swap{
    cursor: pointer;
}

#toUp{
    position: fixed;
    bottom: 3rem;
    right: 0.5rem;
    padding: 1rem;
    box-shadow: 0 0 7px rgba(0,0,0, 0.4);
    cursor: pointer;
}

/* Footer */
footer{
    background-color: #2077B6;
    color: white;
    line-height: 1.5rem;
    padding: 0.5rem;
}

footer a{
    color: white;
}

footer i{
    font-size: 2rem;
    margin: 0.5rem;
}

/* Animation xe bus */
div#bus-animation{
    position: relative;
}

img.bus{
    width: 4rem;
    right: 100%;
    position: absolute;
    mix-blend-mode: exclusion;
    animation: bus 6s ease-in-out infinite;
    margin-top: 2rem
}

@keyframes bus{
    to{
        right: 0px;
    }
}

/* Hiển thị Popup */
#popup-success{
    background-color: #019267;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top:6rem;
    left: -35rem;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    transition: 0.5s;
}

#popup-success.active{
    left: 0.5rem;
}

#popup-fail,#popup-error{
    background-color: #E4003A;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    position: absolute;
    top:6rem;
    left: -35rem;
    padding: 1rem;
    border-radius: 0.5rem;
    text-align: center;
    transition: 0.5s;
}

#popup-fail.active{
    left: 0.5rem;
}

#popup-error.active{
    left: 0.5rem;
}