@media (max-width:500px) {
    .populars div{
        width: 50% !important;
    }
}

main{
    padding: 1.5rem;
}
/* Chuyến phổ biến */
.populars{
    overflow: auto;
    white-space: nowrap;
}

.populars div{
    display: inline-block;
    width: 25%;
    margin: 1rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    text-align: center;
    border-radius: 1rem;
}

/* Div click ccale */
.populars div:hover{
    transform: scale(1,1);
    cursor: pointer;
}

/* Các div không được click sẽ mờ */
.populars:hover >div:not(:hover){
    filter: blur(10px);
    transform: scale(0.9,0.9);
}

.populars img{
    width: 100%;
    border-radius: 1.3rem;
    box-sizing: border-box;
    margin: 0;
}

.populars p{
    font-size: 1.4rem;
    font-weight: bold;
    flex: auto;

}

/* Thong tin chi tiet */
#about p{
    font-size: 1.1rem;
    text-align: justify;
    margin: 0.5rem;
}