@media (max-width: 500px) {
    input{
        width: 80% !important;
    }
    #saveBtn{
        width: 88% !important;
    }
}

input{
    display: block;
}

section{
    padding: 1.5rem;
}

#saveBtn{
    color: white;
    background-color: #5AB2FF;
    width: 10%;
}

#saveBtn:hover{
    cursor: pointer;
}

#saveBtn:active{
    background-color: #4892d3;
}

section{
    padding-left: 2.5rem;
    padding-top: 0;
}


input{
    padding: 1rem;
    width: 30%;
    border: 1px black solid;
}

label{
    font-weight: 700;
}

.null-value{
    border: 2px solid red;
}

